    body{
        background:url("luca-bravo-WeFDiEDModQ-unsplash.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        background-blend-mode:darken;
        background-color:rgba(0,0,0,0.5);
    }
    

    
    h1{
        font-size:60px;
        margin-bottom:10px;
        text-align:center;
        color:aliceblue;
    }
    
    
    a{
        display:block;
        float:left;
        width:100%;
        text-align:center;
        font-size:25px;
        color:aliceblue;
        text-decoration: none;
        padding:10px 0px 10px 0px;
        border-color: aliceblue;
        border-width:2px;
        border-style:solid;
        border-left:none;
        border-right:none;
        transition:background-color 0.5s;
        background-color:rgba(0,0,0,0.3);
    }  

    #links a{
        width:25%;
}

    body{
        margin:0px;
    }
    
    a:hover{
        background-color:rgba(0,0,0,0.5);
        transition:background-color 0.5s;
    }
    
.content{
    width:auto;
    height:auto;
    float:left;
    margin:2%;
    border-color:aliceblue;
    border-style:solid;
    color:aliceblue;
    text-align:center;
    background-color:rgba(0,0,0,0.25);    
    
}

h2{
    text-align:center;
    font-size:30;
    border-bottom-color: aliceblue;
    border-bottom-style:solid;
    width:50%;
    margin:2% 25% 0%;
}

h3{
    border-bottom-color:aliceblue;
    border-bottom-style:solid;
    font-size:30px;
    padding-bottom:5px;
}

#home{
    margin:30px;
    border-radius: 1% 70px;
    border: aliceblue solid 3px;
}

.column{
    width:31%;
    float:left;
    text-align:center;
    margin:1%;
    flex:1;
    height:auto;
}

p{
    font-size:25px;
}

.contact{
    background-color:rgba(25,30,30,1);
    width:100%;
    float:left;
    position:fixed;
    bottom:0;
}

#review{
    font-size:18px; 
    border-top-style:solid;
    border-top-width:thin;
    width:90%;
    margin:5%;
    padding-top:5px;
    position:absolute;
    bottom:0;
}


#groupSize{
    font-size:20px;
    border-top-style:solid;
    border-width:2px;

}

*{
    color:aliceblue;
    text-align:center;
}

@media screen and (max-width: 600px) {
    .column{
        width:100%;
    }
    
}

#boat{
        width:100%;
        float:left;
    }
/*
img{
    position:fixed;
    left:0;
}
*/

.thecolumns{
    display:flex;
}

#activeInfo{
    height:60%;
}
