/*Backgroun image*/
body{
       background:url("backgroundImage.jpg");
       background-size:cover;
       background-repeat:no-repeat;
       background-blend-mode:darken;
       background-color:rgba(0,0,0,0.5);
}


/*rules for all text or website*/
*{
    color:aliceblue;
    text-align:center;
}


/*name of centre*/ 
h1{
       font-size:60px;
       margin-bottom:10px;
    }


/*Page links*/
a{
       display:block;
       float:left;
       width:100%;
       font-size:25px;
       text-decoration: none;
       padding:10px 0px 10px 0px;
       border-color: aliceblue;
       border-width:2px;
       border-style:solid;
       border-left:none;
       border-right:none;
       transition:background-color 0.5s;
       background-color:rgba(0,0,0,0.3);
    }  


/*internal links on homepage*/
#links a{
        width:25%;
}


/*highlighing link or hover*/
a:hover{
        background-color:rgba(0,0,0,0.5);
        transition:background-color 0.5s;
    }


/*mainc content box*/
.content{
    width:auto;
    height:auto;
    float:left;
    margin:2%;
    border-color:aliceblue;
    border-style:solid;
    background-color:rgba(0,0,0,0.25);
    margin-bottom:10%;
}


/*heading of page*/
h2{
    font-size:30;
    border-bottom-color: aliceblue;
    border-bottom-style:solid;
    width:50%;
    margin:2% 25% 0%;
}


/*general text size*/
p{
    font-size:25px;
}


/*sizeing for all images apart from background*/
img{
    width:80%;
    object-fit:cover;
    max-height:400px;
}


/*resizing or columns for web pages*/
@media screen and (max-width: 600px) {
    .column{
        width:100%;
    }
    
}



/*The column sections*/

/*column container*/
.thecolumns{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}


/*the column itself*/
.column{
    text-align:center;
    margin:1%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items: stretch;
    flex:1;
    
}


/*Inside the column*/
h3{
    border-bottom-color:aliceblue;
    border-bottom-style:solid;
    font-size:30px;
    padding-bottom:5px;
    height:10%;
}

#activeInfo{
    flex-direction:stretch;
    align-self: stretch;
    height:80%;
}

#groupSize{
    font-size:20px;
    border-top-style:solid;
    border-width:2px;
    height:10%

}


/*customer reviews*/
#review{
    font-size:18px; 
    border-top-style:solid;
    border-top-width:thin;
    width:90%;
    margin:0% 5% 2%;
    padding-top:5px;
}


/*contact information for boooking*/
.contact{
    background-color:rgba(25,30,30,1);
    width:100%;
    float:left;
    position:fixed;
    bottom:0;
}
